/* * {
  border: solid 2px red;
} */


/* h2 {
  color: darkblue;
  font-style: oblique;
} */
.student-list__heading {
  color: darkblue;
  font-style: oblique;
}

.student-list {
  list-style-type: square;
}